@page
@model Mascotas.App.Presentacion.Pages.BuscarVeterinarioModel
@{
}
<div>
@Model.Veterinario.Id
</div>
<div>
@Model.Veterinario.Nombre
</div>
<div>
@Model.Veterinario.Apellidos
</div>
<div>
@Model.Veterinario.Direccion
</div>
<div>
@Model.Veterinario.Telefono
</div>
<div>
@Model.Veterinario.TarjetaProfesional
</div>
<div>
@Model.Veterinario.Especializacion
</div>
 <a asp-page="./ListadoVeterinario" class="btn btn-outline-success">Volver Listado</a>