@page
@model Mascotas.App.Presentacion.Pages.ListaEspecializacionModel
@{
}
<hr>
<div id="Principal" Style="width: 100%;display: table;">
   
    </div>
    <div id="celda2" style="border: green 2px solid;width: 50%;display: table-cell;">
        <h1>Datos Especializaciones</h1>
    <table class= "table">
        @foreach (var item in Model.Especializaciones)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Aves
                </td>
                <td>
                    @item.Gatos
                </td>
                <td>
                    @item.Perros
                </td>
                <td>
                    <a  class="btn btn-primary table-btn" asp-page="./BuscarEspecializacion" asp-route-Id="@item.Id"><img src="/Img/Buscar.png" height="20px" width="20px" /> Buscar Especializaciones</a>
                </td>
                <td>
                    <a class="btn btn-outline-success" asp-page="./ActualizarEspecializacion" asp-route-Id="@item.Id">Actualizar</a>
                </td>
                 <td>
                    <a class="btn btn-outline-success" asp-page="./IngresarEspecializacion">Ingresar</a>
                </td>
            </tr>
        }
    </table>
    </div>