@page
@model Mascotas.App.Presentacion.Pages.BuscarVisitaModel
@{
}
<div>
@Model.Visitas.Id
</div>
<div>
@Model.Visitas.Fecha
</div>
<div>
@Model.Visitas.Temperatura
</div>
<div>
@Model.Visitas.Peso
</div>
<div>
@Model.Visitas.FrecuenciaRespiratoria
</div>
<div>
@Model.Visitas.FrecuenciaCardiaca
</div>
<div>
@Model.Visitas.EstadoAnimal
</div>
<div>
@Model.Visitas.IdVeterinario
</div>
<div>
@Model.Visitas.Recomendacion
</div>
 <a asp-page="./ListaVisita" class="btn btn-outline-success">Volver Listado</a>