@page
@model Mascotas.App.Presentacion.Pages.ListaVisitaModel
@{
}
<hr>
<div id="Principal" Style="width: 100%;display: table;">
   
    </div>
    <div id="celda2" style="border: green 2px solid;width: 50%;display: table-cell;">
        <h1>Medicos en turno</h1>
    <table class= "table">
        @foreach (var item in Model.Visitas)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Fecha
                </td>
                <td>
                    @item.Temperatura
                </td>
                <td>
                    @item.Peso
                </td>
                <td>
                    @item.FrecuenciaRespiratoria
                </td>
                <td>
                    @item.FrecuenciaCardiaca
                </td>
                <td>
                    @item.EstadoAnimal
                </td>
                <td>
                    @item.EstadoAnimal
                </td>
                <td>
                    @item.IdVeterinario
                </td>
                <td>
                    @item.Recomendacion
                </td>
                <td>
                    <a  class="btn btn-primary table-btn" asp-page="./BuscarVisita" asp-route-Id="@item.Id"><img src="/Img/Buscar.png" height="20px" width="20px" /> Buscar datos</a>
                </td>
                <td>
                    <a class="btn btn-outline-success" asp-page="./ActualizarVisita" asp-route-Id="@item.Id">Actualizar</a>
                </td>
                 <td>
                    <a class="btn btn-outline-success" asp-page="./IngresarVisita">Ingresar datos</a>
                </td>
            </tr>
        }
    </table>