@page
@model Mascotas.App.Presentacion.Pages.BuscarPersonasModel
@{
}
<div>
@Model.personas.Id
</div>
<div>
@Model.personas.DocId
</div>
<div>
@Model.personas.Nombre
</div>
<div>
@Model.personas.Apellidos
</div>
<div>
@Model.personas.Direccion
</div><div>
@Model.personas.Telefono
</div>
 <a asp-page="./Personas" class="btn btn-outline-success">Volver Listado Personas</a>