@page
@model Mascotas.App.Presentacion.Pages.PersonasModel
@{
}
<hr>
<div id="Principal" Style="width: 100%;display: table;">
   
    </div>
    <div id="celda2" style="border: green 2px solid;width: 50%;display: table-cell;">
        <h1>Clientes Listado</h1>
    <table class= "table">
        @foreach (var item in Model.personas)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.DocId
                </td>
                <td>
                    @item.Nombre
                </td>
                <td>
                    @item.Apellidos
                </td>
                <td>
                    @item.Telefono
                </td>
                <td>
                    @item.Direccion
                </td>
                <td>
                    <a  class="btn btn-primary table-btn" asp-page="./BuscarPersonas" asp-route-Id="@item.Id"><img src="/Img/Buscar.png" height="20px" width="20px" /> Buscar Personas</a>
                </td>
                <td>
                    <a class="btn btn-outline-success" asp-page="./ActualizarPersona" asp-route-Id="@item.Id">Actualizar</a>
                </td>
                 <td>
                    <a class="btn btn-outline-success" asp-page="./IngresarPersona">Ingresar Personas</a>
                </td>
            </tr>
        }
    </table>
    </div>
    
    

