@page
@model Mascotas.App.Presentacion.Pages.BuscarAnimalModel
@{
}
<div>
@Model.Animals.Id
</div>
<div>
@Model.Animals.Nombres
</div>
<div>
@Model.Animals.TipoAnimal
</div>
<div>
@Model.Animals.ColorOjos
</div>
<div>
@Model.Animals.ColorPiel
</div>
<div>
@Model.Animals.Estatura
</div>
<div>
@Model.Animals.Raza
</div>
 <a asp-page="./ListaAnimal" class="btn btn-outline-success">Volver Listado</a>