@page
@model Mascotas.App.Presentacion.Pages.ListaAnimalModel
@{
}
<hr>
<div id="Principal" Style="width: 100%;display: table;">
   
    </div>
    <div id="celda2" style="border: green 2px solid;width: 50%;display: table-cell;">
        <h1>Listado Mascotas</h1>
    <table class= "table">
        @foreach (var item in Model.Animals)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Nombres
                </td>
                <td>
                    @item.TipoAnimal
                </td>
                <td>
                    @item.ColorOjos
                </td>
                <td>
                    @item.ColorPiel
                </td>
                <td>
                    @item.Estatura
                </td>
                <td>
                    @item.Raza
                </td>
                <td>
                    <a  class="btn btn-primary table-btn" asp-page="./BuscarAnimal" asp-route-Id="@item.Id"><img src="/Img/Buscar.png" height="20px" width="20px" /> Buscar</a>
                </td>
                <td>
                    <a class="btn btn-outline-success" asp-page="./ActualizarAnimal" asp-route-Id="@item.Id">Actualizar</a>
                </td>
                 <td>
                    <a class="btn btn-outline-success" asp-page="./IngresarAnimal">Ingresar</a>
                </td>
            </tr>
        }
    </table>
    </div>